{% extends 'info/base.html' %}
{% block content %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    analysis_section{
        max-width:1200px;
        margin:0 auto;
    }
    .nav>li>a{
            position: relative;
    display: block;
    padding: 10px 15px;
    }
    .nav-tabs>li>a{
        margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    }
    .nav-tabs>li.active>a{
            color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    }
    .nav-tabs>li{
        margin-bottom: -1px;
    }
    .nav-tabs-color{
        color:#999;
    }
    .file_input_box{
        color: #333;
        border: 1px solid #ccc;
        width:90%;
    }
    .manual_div_box{
            color: #c09853;
    background-color: #fcf8e3;
    border-color: #faebcc;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 1em;
    width:90%;
    }
    .tab-content-mtop{
        margin-top:1em;
    }
    .cursor_pointer{
        cursor: pointer;
    }
.glyphicons-chevron-right{
    background: url(../../static/images/glyphicons-224-chevron-right.png);
}
.glyphicons-chevron-dwon{
    background: url(../../static/images/glyphicons-602-chevron-down.png);
}
</style>
<script>
function hideFileOn(){
    $(this).children('span').removeClass("glyphicon-chevron-right");
    $(".view_file_upload").toggle();   
    //$(this).addClass("glyphicon-chevron-down");
}
function hideConnectOn(){
    $(".view_google_upload").toggle();
}
</script>
<div class="container">
<section class="analysis_section">

	<h2>Start</h2>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#manual" class="nav-tabs-color">Manual</a></li>
        <li><a data-toggle="tab" href="#file" class="nav-tabs-color">File</a></li>
        <li><a data-toggle="tab" href="#googles" class="nav-tabs-color">Additional Data</a></li>
    </ul>
    <div class="tab-content">
        <div id="manual" class="tab-pane in active">
            <h2 class="tab-content-mtop">Manual</h2>
        </div>
        
        <div id="file" class="tab-pane" id="tt">
            <h2 class="tab-content-mtop" id="sex"><span id="test" class="glyphicon glyphicons-chevron-right cursor_pointer" onclick=hideFileOn()></span>Upload Data</h2>
            <hr>
            <div class="view_file_upload">
                <form>
        
        <input type="file" name="file" class="file_input_box">
        <div class="manual_div_box">upload to file data </div>
        <button>save</button>
        </form>
            </div>
        
        
        <h2 class="tab-content-mtop"><span id="test" class="glyphicon glyphicons-chevron-right cursor_pointer" onclick=hideConnectOn()></span>Connect Data</h2>
        <hr>
        <div class="view_google_upload">
            <form>
            <input type="text" name="name" class="file_input_box">
            <div class="manual_div_box">put your google spreadsheet path to data </div>
            <button>save</button>
            </form>
        </div>
        </div>
        <div id="googles" class="tab-pane">
            <h2 class="tab-content-mtop">Additional Data</h2>
        
        </div>
    </div>
</section>
</div>
{% endblock content %}

