{% extends 'info/base.html' %}
{% block content %}
<style>
    .main_section{
        background-image: linear-gradient(to bottom,#4d4dff 0,#ffffb3 100%);
        background-repeat: repeat-x;
    }
</style>
<section class="jumbotron text-center main_section">
      <div class="container">
        <h1 class="jumbotron-heading">Attendance Analysis</h1>
        <p class="lead">We've been applying analytics to the attendance in small scale group. You could see adjuvant result and easy to understand visualization what you could analysis    </p>
        <p>
          <a href="{% url 'analysis' %}" class="btn btn-primary">Do analysis</a>
        </p>
      </div>
</section>
{% endblock content %}

